<html>

    <head>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="/js/my.js"></script>

    </head>

    <body>

        <center><h2>Compra de Entradas para {{pelicula.nombre}}</h2></center>
        <br>
        <center><p>Elegir Sala:  <select id="sala" name="sala">
            <option value=0>Opciones</option>
            {% for sala in todas_las_salas%}
            <option value={{sala.sala.id}}>{{sala.sala.numero}}</option>
            {% endfor %}
            </select> </p></center>

        <center><p>Cantidad de Entradas: <input type="number" name="quantity" id="myInput" min="1" max="99" oninput="myFunction()"></p></center>

        <center><p>Utiliza Promocion:  <select id="promo" name="promo">
            <option value=0>No</option>
            <option value=1>Si</option>
            </select> </p></center>

        <center><p id="demo"></p></center>

        <center><p><span style="color:red" id="res"></span></p></center> 

        <center><button onclick="comprar()">Comprar</button></center>

        <form id="form_compra" method="post">
            {% csrf_token %}
            <input type="hidden" name="cant_entradas" id="cant_entradas"value=0>
            <input type="hidden" name="precio" id="precio" value=0>
            <input type="hidden" name="id_sala" id="id_sala" value=0>
            <input type="hidden" name="id_peli" id="id_peli" value={{pelicula.id}}>
        </form>

        <script>
            var vacio = "";
            function myFunction() {
                var x = document.getElementById("myInput").value;

                if (x > 0){
                    document.getElementById('res').innerHTML = vacio;
                }

                var precio = x*200;
                var promo_v = $('select[name=promo]').val()
                if (precio > 200){
                    precio_final = ((50*precio)/100)+200;
                    precio = precio_final;
                }
                if (promo_v == 1){
                    precio = precio/2
                }
                var y = document.getElementById("precio");
                y.value = precio;
                var cant_e = document.getElementById("cant_entradas");
                cant_e.value = x;

                var sal = $('select[name=sala]').val()
                var sala = document.getElementById("id_sala");
                sala.value = sal;
                document.getElementById("demo").innerHTML = "Precio: " + precio;

            }

            function comprar(){
                var x = document.getElementById("myInput").value;
                var error = "Ingrese un Precio Valido";
                var vacio = "";
                var myForm = document.getElementById('form_compra');
                formData = new FormData(myForm);
                if (x == 0 || x < 0){
                    document.getElementById('res').innerHTML = error;
                } else{
                    document.getElementById('res').innerHTML = vacio;
                    var ids = document.getElementById("id_sala").value;
                    if (ids == 0){
                        document.getElementById("demo").innerHTML = "Elija una Sala";
                    } else{
                        if (confirm("Vender Entradas ?")) {
                            $.ajax({
                                url: '{% url 'compra' %}',
                                data : formData,
                                processData: false,
                                contentType: false,
                                type: 'POST',
                                success: function(data){
                                    console.log(data.resultado);    
                                }
                            });
                        } else {

                        } 
                    }
                }
            }

        </script>

        <a href="{% url 'index' %}">Volver</a>
    </body>
</html>