<html>
    {% load static %}
    <head>
        <link href="{% static 'materialize/icons/icons.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <!-- Importamos materialize.css -->

        <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>

        <!-- Permitirle al navegador saber si está optimizado para dispositivos móbiles -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 5px;
            }

            tr:nth-child(even) {
                background-color: #b3d9ff;
            }
        </style>

    </head>

    <body style="background-color:#80aaff" >

        <div class="navbar-fixed">
            <nav style="background-color: black" role="navigation">
                <div class="nav-wrapper z-depth-4">
                    <a id="logo-container" data-target="modal1" href="{% url 'index' %}" class="brand-logo modal-trigger">
                        <i class="material-icons prefix" style="font-size: 45px">videocam</i> CINE HOYTS </a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{% url 'ver_peliculas' %}">Ver Cartelera</a></li>
                    </ul>

                </div>
            </nav>
        </div>
        <br>
        <nav style="background-color: black" role="show">
            <div class="nav-wrapper z-depth-4">

                <!-- Logo y título centrado -->

                <a id="logo-container" class="brand-logo center modal-trigger">
                    <i class="material-icons prefix" style="font-size: 45px">star</i> Listado de Salas
                </a>
            </div>
        </nav>
        <br>
        <div class="container">
            <div class="card-panel teal orange-2">
                <div class="col s6">
                    <table class="centered highlight">
                        <thead>
                            <tr>
                                <th data-field="id">Numero</th>
                                <th data-field="name">Capacidad</th>
                                <th data-field="price">Info</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for sala in salas%}
                            <tr>
                                <td>{{sala.numero}}</td>
                                <td>{{sala.cant_asientos}}</td>
                                <td><a  class="waves-effect waves-light btn" href="{% url 'salas_asignadas' sala.id %}"><i style="font-size:15px" class="fa">&#xf129;</i></a></td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </body>

    <script>

        function info_sala(url, alum){
            $.ajax({
                method: "POST",
                url: url,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
            })
                .done(function (data) {
                $("#datos_sala").html(data);
                console.log("anda");
            });
        }

    </script>
</html>
