<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h3><strong>Datos de la Sala {{sala.numero}}.</strong></h3>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div id="obrass">

                <table class="table table-bordered" id="tabla_trans">
                    <thead>
                        <tr>
                            <th>Pelicula</th>
                            <th>Fecha Inicio</th>
                            <th>Dni</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sala in salas_asignadas %}
                        <tr>
                            <td>{{sala.pelicula.nombre|title}}</td>
                            <td>{{sala.fecha_inicio|date:"d/M/Y"}}</td>
                            <td>{{sala.fecha_fin|date:"d/M/Y"}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="cerrar_btn">Cerrar</button>
        </div>
    </div>
</div>
